<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exercises.programing.simplegames">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tictactoe.TicMainActivity"
            android:label="@string/tictac"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".hangingman.HangMainActivity"
            android:label="@string/title_hang"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".hangingman.HangGameActivity"
            android:parentActivityName=".hangingman.HangMainActivity" />
        <activity
            android:name=".hangingman.HangOverActivity"
            android:label="@string/title_hang"
            android:parentActivityName=".hangingman.HangMainActivity" />
        <activity
            android:name=".hangingman.HangMultiplayerActivity"
            android:label="@string/title_hang"
            android:parentActivityName=".hangingman.HangMainActivity" />
        <activity
            android:name=".hangingman.HangMultiActivity"
            android:label="@string/title_hang"
            android:parentActivityName=".hangingman.HangMultiplayerActivity" />
        <activity
            android:name=".hangingman.HangScoresActivity"
            android:label="@string/title_hang"
            android:parentActivityName=".hangingman.HangMainActivity" />
        <activity android:name=".memory.MemoryActivity"></activity>
    </application>

</manifest>