<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.programing.ToDoAndCounter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.example.programing.ToDoAndCounter.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.programing.ToDoAndCounter.Countdown.CountdownActivity"/>
        <activity android:name="com.example.programing.ToDoAndCounter.v1_ToDo_SQLite.ListDataActivity"
                  android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".MainActivity"/>
        </activity>

        <activity android:name="com.example.programing.ToDoAndCounter.v1_ToDo_SQLite.AddDataActivity"
            android:label="Add a new task"
            android:parentActivityName=".v1_ToDo_SQLite.ListDataActivity"/>
        <activity android:name="com.example.programing.ToDoAndCounter.v1_ToDo_SQLite.EditDataActivity"
            android:parentActivityName=".v1_ToDo_SQLite.ListDataActivity"/>

    </application>

</manifest>